# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# IDE / editor settings
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log